<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Listing Products</h1>
</div>

<table class="table table-striped">
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to product, class: 'btn btn-default', title: 'View', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
            <%= fa_icon 'eye' %>
          <% end %>
          <%= link_to edit_product_path(product), class: 'btn btn-default',
              title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
            <%= fa_icon 'pencil-square-o' %>
          <% end %>
          <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default',
              title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
            <%= fa_icon 'trash-o' %>
          <% end %>
      </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Product', new_product_path, class: 'btn btn-success pull-right' %>
