<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>
    <td>
      <div class="input-group">
        <span class="input-group-btn">
          <%= link_to decrement_line_item_url(line_item), method: :put, remote: true, class: 'btn btn-default btn-number' do %>
            <i class="glyphicon glyphicon-minus"></i>
          <% end %>
        </span>
        <input type="text" name="quant[1]" class="form-control form-number" value="<%= line_item.quantity %>" min="1">
        <span class="input-group-btn">
          <%= link_to increment_line_item_url(line_item), method: :put, remote: true, class: 'btn btn-default btn-number' do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        </span>
      </div>
    </td>
    <td><%= line_item.product.title %></td>
    <td class="item-price"><%= number_to_currency(line_item.total_price) %></td>
    <td>
      <%= link_to line_item, method: :delete, class: 'btn btn-danger',
          title: 'Remove', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </td>
  </tr>
